/*
    TODO - Rollup/refactor at some point
*/

.detail-div {
    background-color: #eae8e8 !important;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 10px;
}

.spacial-button {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}