.comp-div {
    background-color: #eae8e8 !important;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 10px;
}

.red-bold {
    color: red;
    font-weight: bold;
}

.my-datepicker {
    width: 100%;
}