/*
    TODO - Rollup/refactor at some point
*/

.table-bordered {
    border: 5px grey !important;
}

.div-scroll {
    overflow-y: scroll; /* or auto */
    height: 400px;
}

.div-scroll-200 {
    overflow-y: scroll; /* or auto */
    height: 200px;
}
